.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #333232;
}

.form-boby {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  display: block;
  padding: 0 15px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #1d1c1c;
  background-color: #787575;

  &:focus {
    background-color: #494848;
  }
}

.btn {
  border: none;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  margin: 30px 0;
  background-color: #787575;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #565656;
  }
}
